---
import DmDialog from '@/components/dm-dialog.astro';
import Seo from '@/components/seo.astro';
import Spinner from '@/components/spinner.astro';
import Layout from '@/layouts/validator.layout.astro';
import { directus, directusFileURL } from '@/utils/directus';
import { readSingleton } from '@directus/sdk';
import { Image } from 'astro:assets';

const config = await directus.request(readSingleton('validatorConfig'));
---

<Seo title="Validador de Certificados" />

<style>
  .validator {
    background-image: url('/assets/img/validator/background.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
</style>

<Layout>
  <div class="validator h-full w-full relative overflow-hidden">
    <span
      class="w-[130px] h-[130px] absolute top-8 -right-[55px] bg-[#D6E040] rounded-full lg:hidden"
    ></span>
    <div
      class="container mx-auto px-4 py-12 grid grid-cols-1 md:grid-cols-2 h-full relative"
    >
      <span
        class="hidden lg:block absolute top-8 -right-[55px] bg-[#D6E040] rounded-full lg:w-[300px] lg:h-[300px] lg:right-0 lg:top-12"
      ></span>
      <div class="flex flex-col justify-center h-full gap-8">
        <h1 class="text-white text-2xl md:text-4xl">
          <strong>Centro de validación</strong><br />de constancias y<br />
          certificados
        </h1>
        <p class="text-white text-sm md:text-base">
          Para validar un documento emitido por DM FORMACIÓN, ingresa el código
          único y haz clic en validar
        </p>
        <form>
          <div class="flex flex-col gap-8 items-start">
            <div class="flex flex-col gap-2">
              <input
                type="text"
                name="code"
                placeholder="Código único de documento"
                class="w-[400px] text-dm-gray-6 placeholder:text-dm-gray-6 bg-dm-gray-5 rounded-lg text-lg p-4 focus:outline-primary"
              />
              <span class="text-red-400 text-sm error-message"></span>
            </div>
            <div class="flex ustify-center md:justify-start">
              <button
                class="text-white border border-white rounded-lg px-4 py-2 hover:text-primary hover:border-primary"
                type="submit"
              >
                Validar
              </button>
              <Spinner class="hidden" />
            </div>
          </div>
        </form>
      </div>
      <div class="hidden md:flex items-center justify-center p-4 relative">
        <Image
          src={directusFileURL(config.image)}
          alt="DM formación"
          width={690}
          height={608}
          loading="eager"
          class="max-w-[690px] w-full h-auto"
        />
      </div>
    </div>
  </div>
</Layout>

<DmDialog id="validatorSuccess">
  <div class="flex flex-col gap-4 justify-center items-center">
    <svg
      width="98"
      height="99"
      viewBox="0 0 98 99"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        fill-rule="evenodd"
        clip-rule="evenodd"
        d="M47.0294 0.212359C45.6758 0.655997 44.9338 1.23653 42.6665 3.62554L40.4888 5.92051L37.2981 4.6437C34.2581 3.42718 34.0299 3.36649 32.4638 3.36009C31.0613 3.35428 30.6606 3.43087 29.7323 3.88168C27.9033 4.76973 27.119 5.81348 25.6018 9.38004L24.2687 12.5136L20.5831 12.5799C17.0726 12.6431 16.8456 12.6707 15.8052 13.1591C14.4739 13.7842 13.3649 14.8617 12.7335 16.1434C12.2884 17.0473 12.2563 17.3322 12.1958 20.9104L12.1314 24.7162L9.00319 26.0442C6.22328 27.2244 5.75494 27.4916 4.79485 28.4446C3.33257 29.896 2.80602 31.2624 2.92571 33.2952C3.00403 34.6249 3.13552 35.0083 4.46263 37.7723L5.91389 40.7951L3.55321 43.202C0.712382 46.0984 0.14677 47.0586 0.0233988 49.1948C-0.0440879 50.3648 0.0235922 50.8765 0.369341 51.8124C0.744095 52.8265 1.12929 53.3064 3.37144 55.5523L5.94347 58.129L4.5686 61.3692C3.34591 64.2511 3.19295 64.7491 3.18638 65.87C3.17516 67.8181 3.68451 69.0422 5.08452 70.432C6.16121 71.5008 6.53074 71.7149 9.40425 72.9341L12.5465 74.2673V77.9141C12.5465 82.2169 12.767 83.1023 14.2078 84.5891C15.7145 86.1435 16.3117 86.3115 20.7293 86.4231L24.5609 86.5201L25.7712 89.3316C27.3681 93.0415 27.452 93.19 28.4966 94.1554C29.5037 95.0863 30.2932 95.4698 31.7646 95.7425C33.2275 96.0137 34.3861 95.7264 37.6441 94.2847L40.4888 93.0258L42.9059 95.5115C44.5701 97.2229 45.6156 98.1357 46.2622 98.4423C47.5619 99.0581 49.4896 99.1774 50.9585 98.7329C52.0077 98.4153 52.2833 98.1924 54.7016 95.7029C56.1374 94.225 57.403 93.0157 57.5142 93.0157C57.6254 93.0157 58.6696 93.438 59.8346 93.9541C62.8812 95.3037 63.9032 95.6094 65.337 95.6009C67.0805 95.5904 68.5829 94.9777 69.7602 93.7973C70.542 93.0133 70.9007 92.3688 72.0449 89.6936L73.4024 86.5201L77.0654 86.4206C80.7211 86.3214 80.7309 86.3198 82.008 85.6894C83.4784 84.9637 84.3294 84.082 85.0346 82.5541C85.496 81.5544 85.5382 81.2216 85.6343 77.823L85.7377 74.1673L88.7901 72.751C90.469 71.972 92.1532 71.0971 92.5328 70.8068C93.8178 69.824 94.9229 67.5414 94.9229 65.87C94.9229 64.8699 94.5214 63.6344 93.2131 60.608L92.0697 57.9636L94.3749 55.6636C97.2472 52.7976 97.8859 51.6713 97.9851 49.2964C98.0368 48.0615 97.9627 47.5007 97.626 46.5772C97.254 45.5575 96.9047 45.1222 94.7976 43.0525L92.3936 40.6914L93.7066 37.6234L95.0196 34.5555L95.0171 32.7135C95.0144 30.6807 94.7411 29.9126 93.5279 28.527C92.6883 27.568 92.009 27.1765 88.7008 25.7452L85.8628 24.517L85.8002 20.7139C85.7416 17.1491 85.7083 16.8509 85.2692 15.9563C84.6425 14.6793 83.5172 13.588 82.189 12.9691C81.1542 12.4871 80.9036 12.4564 77.4169 12.3874L73.7371 12.3147L73.3712 11.4134C71.9308 7.86414 70.8961 5.82357 70.1506 5.06193C68.9507 3.83592 67.3278 3.1724 65.5304 3.17279C64.1638 3.17298 63.896 3.25209 60.8895 4.54287L57.6988 5.91256L55.2817 3.52142C52.3693 0.640485 51.4452 0.0989291 49.2872 0.0085728C48.4193 -0.02788 47.5126 0.0541388 47.0294 0.212359ZM50.5505 2.6353C51.0557 2.86546 52.2427 3.95614 53.9219 5.7334C56.032 7.96672 56.6123 8.47628 57.0452 8.47628C57.3378 8.47628 58.9967 7.86007 60.7319 7.10697C64.5367 5.45574 65.3999 5.30198 66.9269 6.00292C67.5074 6.26953 68.1604 6.73876 68.378 7.0457C68.5955 7.35264 69.4417 9.18478 70.2587 11.1172C71.436 13.9023 71.8434 14.676 72.2236 14.8497C72.5283 14.9889 74.089 15.0688 76.5006 15.0688C80.8798 15.0688 81.4901 15.2311 82.4771 16.658L83.0305 17.458L83.1272 21.6441C83.1804 23.9464 83.3109 25.9765 83.4173 26.1557C83.5236 26.3346 85.2497 27.1787 87.253 28.0311C89.2561 28.8836 91.0711 29.7405 91.2859 29.9355C92.0397 30.619 92.4887 31.7708 92.482 33.0043C92.4763 34.0142 92.2924 34.5889 91.0887 37.3585C90.3259 39.1135 89.7019 40.8087 89.7019 41.1257C89.7019 41.6124 90.1362 42.1259 92.4976 44.4305C95.5571 47.4164 95.8669 47.9432 95.6211 49.742C95.4241 51.1838 94.9708 51.8112 92.1006 54.6154C90.3612 56.3149 89.3151 57.4818 89.3151 57.7222C89.3151 57.9342 89.9677 59.6697 90.7654 61.579C92.3056 65.266 92.4922 66.1903 91.955 67.4759C91.3679 68.8803 90.8271 69.2553 87.1377 70.8159C85.1978 71.6367 83.4658 72.4369 83.2887 72.5944C83.0118 72.8406 82.9572 73.4547 82.8998 76.9858C82.8375 80.8046 82.8023 81.1484 82.3961 81.9148C82.1553 82.3689 81.599 82.978 81.1564 83.2721C80.356 83.8036 80.3386 83.8059 76.1614 83.9025C73.1519 83.9721 71.8854 84.0698 71.6709 84.2486C71.5065 84.3857 70.6936 86.0871 69.8644 88.0296C68.1773 91.9816 67.5739 92.8144 66.1117 93.2092C64.8756 93.5431 64.2425 93.38 60.612 91.7922C58.518 90.8762 57.186 90.3975 56.89 90.4543C56.6134 90.5074 55.3793 91.6524 53.8045 93.3176C51.0159 96.2658 50.3737 96.7034 48.8482 96.6955C47.438 96.6881 46.6353 96.139 43.9004 93.31C40.5849 89.8805 40.7469 89.9292 37.4259 91.3654C36.0849 91.9452 34.576 92.6077 34.0727 92.8377C32.4812 93.5646 30.5123 93.12 29.4582 91.7953C29.1798 91.4453 28.3081 89.6353 27.5214 87.7731C26.7346 85.9109 25.9052 84.2344 25.6786 84.0479C25.3156 83.7493 24.792 83.7086 21.314 83.7086C18.0536 83.7086 17.2532 83.6535 16.7427 83.3943C15.8578 82.945 15.462 82.5545 14.9973 81.6727C14.6268 80.9694 14.5818 80.5139 14.5154 76.7895C14.4526 73.2687 14.3965 72.6432 14.1229 72.4111C13.9471 72.262 12.2955 71.5033 10.4527 70.725C6.81867 69.1901 6.10378 68.7224 5.56195 67.5261C4.90081 66.067 5.05338 65.2119 6.6487 61.4354C7.44636 59.547 8.09899 57.8343 8.09899 57.6293C8.09899 57.4085 6.88751 56.0301 5.12338 54.2437C2.41676 51.503 2.13057 51.1475 1.95615 50.3097C1.82968 49.7013 1.82968 49.0761 1.95615 48.4677C2.13057 47.6298 2.41676 47.2744 5.12338 44.5337C6.93141 42.7029 8.09899 41.3712 8.09899 41.1399C8.09899 40.9305 7.44752 39.2325 6.65121 37.3665C5.05435 33.625 4.89405 32.7253 5.56195 31.2513C6.10223 30.0584 6.79721 29.604 10.4444 28.0572C12.2919 27.2739 13.9558 26.5041 14.1419 26.3469C14.4414 26.0936 14.4808 25.6473 14.4849 22.4553C14.4901 18.4923 14.6479 17.4293 15.3727 16.4767C16.3434 15.2005 16.897 15.0688 21.2943 15.0688C24.4252 15.0688 25.3048 15.0114 25.626 14.7857C25.8673 14.6162 26.6286 13.08 27.5236 10.9562C29.1434 7.11279 29.6555 6.36842 31.0456 5.83597C32.3366 5.34173 33.3733 5.56219 36.9557 7.09359C38.7349 7.85406 40.3892 8.47628 40.6322 8.47628C40.9441 8.47628 41.8969 7.64446 43.8753 5.64518C45.4161 4.08799 46.9377 2.69522 47.2568 2.55038C48.077 2.17751 49.6339 2.21784 50.5505 2.6353ZM44.5496 13.251C34.7044 14.701 26.8278 19.0278 20.7679 26.3149C17.0314 30.8079 14.3074 36.5934 13.0897 42.6217C12.6985 44.5583 12.6432 45.3963 12.6432 49.3887C12.6432 53.381 12.6985 54.2191 13.0897 56.1557C17.335 77.174 38.1553 89.9709 58.6657 84.1685C70.4654 80.8304 80.0634 71.2063 83.3925 59.3744C89.1198 39.0198 76.5918 18.1904 55.9718 13.7831C53.9466 13.3503 53.0755 13.2764 49.3839 13.2248C47.0441 13.1923 44.8686 13.2041 44.5496 13.251ZM52.1469 15.6635C67.9493 17.4043 80.2059 29.6664 82.175 45.7046C82.4868 48.2447 82.2961 53.0041 81.7755 55.6669C78.747 71.162 65.6684 82.4605 50.0606 83.0652C45.553 83.2399 42.2053 82.7676 37.9749 81.3599C32.5621 79.5588 28.1085 76.7046 24.0951 72.4648C15.4984 63.3829 12.6444 50.2519 16.7172 38.5192C18.4595 33.5003 20.8302 29.673 24.6203 25.7605C31.8398 18.3077 42.0738 14.5538 52.1469 15.6635ZM61.2217 34.0766C60.8193 34.1782 60.2101 34.4021 59.8681 34.5743C59.5258 34.7465 55.7203 38.4119 51.4112 42.7198L43.5765 50.5519L41.2591 48.211C38.7542 45.6806 37.762 45.0258 35.947 44.7053C32.2082 44.0449 28.8398 47.2254 29.233 51.045C29.4443 53.0983 29.8098 53.5899 35.0359 58.8488C40.5069 64.3541 41.252 64.9005 43.2892 64.9005C45.4512 64.9005 45.942 64.5932 49.7706 60.8438C51.685 58.969 56.4611 54.2939 60.384 50.4549C66.6063 44.3656 67.5873 43.3263 68.0703 42.3114C69.076 40.1985 68.7465 37.64 67.2493 35.9345C65.864 34.3564 63.2753 33.5585 61.2217 34.0766ZM64.3497 36.9418C64.817 37.229 65.361 37.768 65.5582 38.1395C65.9558 38.8882 66.0254 40.1522 65.7149 40.99C65.4809 41.6215 45.5994 61.6762 44.7698 62.1177C43.9203 62.5697 42.6435 62.4906 41.6935 61.9269C41.2437 61.6601 38.8167 59.3624 36.3003 56.821C31.3672 51.8386 31.3107 51.7572 31.5501 49.9681C31.6679 49.0878 32.5207 47.8104 33.3 47.3475C34.0168 46.9215 35.8799 46.9182 36.696 47.3413C37.0336 47.5164 38.5423 48.9255 40.0486 50.4726C42.5851 53.0776 42.8345 53.2814 43.4218 53.2277C43.9638 53.178 44.8518 52.3805 49.5238 47.7466C60.4066 36.9529 60.5928 36.7758 61.3858 36.486C62.3481 36.1342 63.2648 36.2754 64.3497 36.9418Z"
        fill="#903F97"></path>
    </svg>

    <p class="text-secondary text-2xl text-center">
      El documento con código<br /><strong class="code-label">8940482935</strong
      >
    </p>

    <p class="text-[#C3CD2C] font-bold text-2xl text-center">Es válido</p>

    <p class="text-[#5A7184] text-sm text-center">
      El documento indicado se encuentra registrado en nuestros sistemas de
      información
    </p>

    <div class="text-[#5A7184] text-sm">
      <div>
        Se acredita que <span class="certificate-name font-semibold">name</span>
      </div>
      <div>
        Ha participado en <span class="certificate-course font-semibold"
          >name</span
        >
      </div>
      <div>
        Realizado del <span class="certificate-start font-semibold">name</span> al
        <span class="certificate-end font-semibold">name</span>
      </div>
    </div>

    <button
      class="bg-secondary text-white rounded-lg px-4 py-2 border border-transparent hover:bg-primary hover:border-primary"
      type="button"
      onclick="window.validatorSuccess.close()"
    >
      Regresar
    </button>
  </div>
</DmDialog>
<DmDialog id="validatorError">
  <div class="flex flex-col gap-4 justify-center items-center">
    <svg
      width="69"
      height="69"
      viewBox="0 0 69 69"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        fill-rule="evenodd"
        clip-rule="evenodd"
        d="M25.1263 0.155773C21.9039 0.59749 19.193 1.40917 16.3443 2.78517C13.223 4.29294 10.8026 6.00465 8.41506 8.39343C6.02736 10.7821 4.31643 13.2035 2.80933 16.3263C1.34161 19.3674 0.480681 22.4004 0.11048 25.8336C-0.111021 27.8885 0.0132786 31.6543 0.369594 33.6768C2.60509 46.3695 12.8002 55.9466 25.6565 57.4309C27.4011 57.6323 31.8711 57.5092 33.4848 57.2151C37.0528 56.565 40.0634 55.5037 42.8595 53.9101L44.27 53.1064L51.6848 60.5002C56.1875 64.99 59.3398 68.0301 59.7112 68.2407C61.0157 68.9799 62.8381 69.2021 64.3553 68.8067C68.2759 67.7851 70.2129 63.1667 68.1858 59.6735C67.9069 59.1928 65.4224 56.6083 60.4394 51.6152L53.1034 44.2645L53.7248 43.1855C55.417 40.2471 56.5895 37.0035 57.2351 33.4745C57.5464 31.7726 57.5856 26.3044 57.2994 24.5053C56.5196 19.604 54.5249 14.9585 51.566 11.1526C47.0857 5.38948 40.8485 1.61796 33.687 0.341227C31.674 -0.0176772 27.1128 -0.116406 25.1263 0.155773ZM32.6662 3.00664C41.1622 4.24938 48.6349 9.7987 52.3238 17.6046C56.1647 25.7324 55.5817 35.0857 50.755 42.7768C49.5159 44.7513 48.7714 43.6986 57.812 52.7568C65.972 60.9328 66.0369 61.0065 66.2533 62.3602C66.3668 63.0705 66.042 64.2025 65.5166 64.9281C64.9522 65.7076 63.8379 66.2329 62.754 66.2305C61.1493 66.227 61.3542 66.3995 52.7584 57.8126C43.6997 48.7634 44.7541 49.5084 42.7797 50.7631C34.3974 56.09 23.4768 56.1576 15.0595 50.9347C9.28705 47.3528 5.02448 41.4541 3.48085 34.9113C2.53297 30.8936 2.53957 26.3907 3.49891 22.5547C4.68879 17.7971 7.07137 13.5733 10.4173 10.2898C16.4185 4.40071 24.38 1.79465 32.6662 3.00664ZM27.403 7.77287C26.5226 8.14459 26.2768 9.28968 26.9359 9.94909C28.1592 11.1729 30.0312 9.46515 28.8674 8.18707C28.4694 7.75021 27.8632 7.57865 27.403 7.77287ZM32.3285 8.57956C32.0237 8.88465 31.9344 9.09654 31.9344 9.51613C31.9344 10.3807 32.3093 10.6909 33.914 11.1546C40.1068 12.9437 44.9246 17.9275 46.502 24.1756C48.338 31.4491 45.7455 38.9044 39.8211 43.3873C35.3548 46.7669 29.7053 47.8911 24.1901 46.4975C17.4973 44.8065 12.3595 39.458 10.838 32.5978C10.4973 31.0613 10.4153 27.5775 10.6805 25.9022C11.6981 19.4748 15.9775 14.1349 22.0614 11.7011C22.6744 11.4559 23.3244 11.1386 23.5057 10.9959C24.2358 10.4213 24.0007 9.15844 23.0931 8.77904C22.6644 8.59979 22.5493 8.61112 21.6167 8.9243C19.4746 9.64373 16.8248 11.1918 14.9861 12.7979C5.73427 20.8801 5.23249 35.0095 13.8896 43.6707C15.6712 45.4529 17.2299 46.5686 19.5239 47.7029C28.989 52.3835 40.5105 49.2305 46.3821 40.3531C49.5422 35.5752 50.6096 29.6829 49.3262 24.1006C47.6455 16.7894 42.4062 11.0524 35.2691 8.70769C33.317 8.06636 32.8613 8.04653 32.3285 8.57956ZM21.0432 20.3925C20.4571 20.6471 20.1319 21.3783 20.3332 21.9885C20.4248 22.2661 21.5844 23.5258 23.6404 25.5814L26.8066 28.7468L23.5925 31.9873C21.5238 34.0731 20.3468 35.3596 20.2897 35.5977C20.0737 36.4977 21.0289 37.4773 21.9101 37.2598C22.1663 37.1966 23.3791 36.0847 25.533 33.9385L28.771 30.712L31.8693 33.8219C33.5735 35.5323 35.1419 37.0241 35.3548 37.137C36.4534 37.7196 37.7288 36.4461 37.1469 35.3476C37.0334 35.1334 35.5417 33.5632 33.8321 31.8583L30.7235 28.7586L33.9486 25.5191C36.0939 23.3642 37.2053 22.1509 37.2684 21.8946C37.4858 21.0129 36.5067 20.0573 35.6071 20.2734C35.3691 20.3306 34.0831 21.5081 31.9983 23.5777L28.7593 26.7933L25.662 23.68C22.9679 20.9718 22.0343 20.1724 21.5917 20.1945C21.5337 20.1975 21.2869 20.2865 21.0432 20.3925Z"
        fill="#903F97"></path>
    </svg>

    <p class="text-secondary text-2xl text-center">
      El documento con código<br /><strong class="code-label">--</strong>
    </p>

    <p class="text-[#F87171] font-bold text-2xl text-center">No es válido</p>

    <p class="text-[#5A7184] text-sm text-center">
      El documento indicado no se encuentra registrado en nuestros sistemas de
      información
    </p>

    <button
      class="bg-secondary text-white rounded-lg px-4 py-2 border border-transparent hover:bg-primary hover:border-primary"
      type="button"
      onclick="window.validatorError.close()"
    >
      Regresar
    </button>
  </div>
</DmDialog>

<script>
  import { isInputError } from 'astro:actions';
  import { actions } from 'astro:actions';
  import { format } from 'date-fns';

  const form = document.querySelector('.validator form');
  const successDialog = document.querySelector(
    '#validatorSuccess'
  ) as HTMLDialogElement;
  const errorDialog = document.querySelector(
    '#validatorError'
  ) as HTMLDialogElement;

  form?.addEventListener('submit', async e => {
    e.preventDefault();
    setLoading(true);
    const errorTag = document.querySelector('.error-message')!;
    errorTag.innerHTML = '';
    const formData = new FormData(e.currentTarget as HTMLFormElement);
    const { data, error } = await actions.validateCertificate(formData);
    setLoading(false);
    document.querySelectorAll('.code-label').forEach(el => {
      el.innerHTML = (formData?.get('code') as string)?.toUpperCase() || '';
    });

    if (error) {
      if (isInputError(error)) {
        //@ts-ignore
        errorTag.innerHTML = error.fields.code[0];
      } else if (error.code === 'NOT_FOUND') {
        errorDialog?.showModal();
      } else {
        errorTag.innerHTML = error.message || 'Ocurrió un error';
      }

      return;
    }

    const certificateName = document.querySelector('.certificate-name')!;
    certificateName.innerHTML =
      `${data?.firstName} ${data?.lastName} ${data?.secondLastName}`.toUpperCase();

    const certificateCourse = document.querySelector('.certificate-course')!;
    certificateCourse.innerHTML = `${data?.courseName}`.toUpperCase();

    const certificateStart = document.querySelector('.certificate-start')!;
    certificateStart.innerHTML = data?.courseStart
      ? format(data.courseStart, 'dd/MM/yyyy')
      : '';

    const certificateEnd = document.querySelector('.certificate-end')!;
    certificateEnd.innerHTML = data?.courseEnd
      ? format(data.courseEnd, 'dd/MM/yyyy')
      : '';

    successDialog?.showModal();
  });

  const setLoading = (loading: boolean) => {
    const spinner = form?.querySelector('.spinner')!;
    const button = form?.querySelector('button')!;

    button.disabled = loading;
    if (loading) {
      spinner.classList.remove('hidden');
      button.classList.add('hidden');
    } else {
      spinner.classList.add('hidden');
      button.classList.remove('hidden');
    }
  };
</script>
