---
import Footer from '@/components/footer.astro';
import { ViewTransitions } from 'astro:transitions';
import {
  directus,
  directusFileURL,
  type SocialNetwork,
} from '@/utils/directus';
import { readSingleton } from '@directus/sdk';
import InscriptionFlow from '@/components/inscription-flow.astro';
import WhatsappButton from '@/components/whatsapp-button.astro';

const siteConfig = await directus.request(
  readSingleton('siteConfig', { fields: ['*', { socialNetworks: ['*'] }] })
);

const logoFooter = directusFileURL(siteConfig.logoFooter);
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{siteConfig.siteName}</title>

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
      rel="stylesheet"
    />

    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-FTTGEFVLT0"
    ></script>
    <script is:inline>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag('js', new Date());

      gtag('config', 'G-FTTGEFVLT0');
    </script>

    <ViewTransitions />
  </head>
  <body class="w-full min-h-screen grid grid-rows-[1fr_auto]">
    <main><slot /></main>
    <Footer
      logo={logoFooter}
      infoEmail={siteConfig.infoEmail}
      socialNetworks={siteConfig.socialNetworks as SocialNetwork[]}
      text={siteConfig.footerText}
      phoneNumber={siteConfig.phoneNumber}
    />
    {
      siteConfig.whatsappNumber && (
        <>
          <WhatsappButton whatsappNumber={siteConfig.whatsappNumber} />
        </>
      )
    }
    <InscriptionFlow whatsappNumber={siteConfig.whatsappNumber} />
  </body>
</html>
