---
import Header from '@/components/header.astro';
import Footer from '@/components/footer.astro';
import { ViewTransitions } from 'astro:transitions';
import {
  directus,
  directusFileURL,
  type SocialNetwork,
} from '@/utils/directus';
import { readSingleton } from '@directus/sdk';
import InscriptionFlow from '@/components/inscription-flow.astro';
import WhatsappButton from '@/components/whatsapp-button.astro';

const siteConfig = await directus.request(
  readSingleton('siteConfig', { fields: ['*', { socialNetworks: ['*'] }] })
);

const logoHeader = directusFileURL(siteConfig.logoHeader);
const logoFooter = directusFileURL(siteConfig.logoFooter);
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{siteConfig.siteName}</title>

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
      rel="stylesheet"
    />

    <!-- Google Tag Manager -->
    <script is:inline>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
      new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
      j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
      'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
      })(window,document,'script','dataLayer','GTM-P6FTDRX5');
    </script>
    <!-- End Google Tag Manager -->

    <!-- Google tag (gtag.js) -->
    <!--
      <script async src="https://www.googletagmanager.com/gtag/js?id=G-FTTGEFVLT0"
      ></script>
      <script is:inline>
        window.dataLayer = window.dataLayer || [];
        function gtag() {
          dataLayer.push(arguments);
        }
        gtag('js', new Date());
  
        gtag('config', 'G-FTTGEFVLT0');
      </script>
     -->

    <ViewTransitions />
  </head>
  <body class="w-full min-h-screen grid grid-rows-[auto_1fr_auto]">
    <!-- Google Tag Manager (noscript) -->
    <noscript>
      <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-P6FTDRX5" height="0" width="0" style="display:none;visibility:hidden">
      </iframe>
    </noscript>
    <!-- End Google Tag Manager (noscript) -->
    <Header logo={logoHeader} />
    <main><slot /></main>
    <Footer
      logo={logoFooter}
      infoEmail={siteConfig.infoEmail}
      socialNetworks={siteConfig.socialNetworks as SocialNetwork[]}
      text={siteConfig.footerText}
      phoneNumber={siteConfig.phoneNumber}
    />
    {
      siteConfig.whatsappNumber && (
        <>
          <WhatsappButton whatsappNumber={siteConfig.whatsappNumber} />
          <InscriptionFlow whatsappNumber={siteConfig.whatsappNumber} />
        </>
      )
    }
  </body>
</html>
